:root{
    --tooltip-color: rgba(0,0,0,0.9);
    --blue-button-color: hsl(206.1, 79.3%, 52.7%);
}
.popup-body{
    min-width:275px;
    border-color: #c1c2c0;
    background-color: #f0f0f0
}
.btn:focus,
.btn:active:focus{
    outline:none;
}

.btn{
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
    font-size: 12px;
    padding: 0 1em;
    vertical-align: middle;
    color: black;
    background: white;
    box-sizing: border-box;
    /* line-height: 28px; */
    text-align: center;
    text-decoration: none;
    /* text-transform:uppercase; */
    cursor: pointer;
}

.btn-small{
    padding: 0 .25em;
    line-height:10px;
    font-size:10px;
}
.btn-medium{
    padding: .5em .7em;
    line-height:18px;
    font-size:13px;
}
.btn-circle{
    border-radius: 50%;
}
.btn-red{
    color:white;
    background: red;
    border-color:red;
    font-weight:bold;
    transition: all ease 0.35s;
}
.btn-red:hover{
    color:red;
    background: white;
    border-color:white;
    font-weight:bold;
    border-bottom: 1px solid red; 
    transition: all ease 0.35s;
}

.btn-primary, .btn-primary:hover, .btn-light, .btn-light:hover{
    background: transparent;
    border-color:transparent;
    font-weight:bold;
}
.btn-primary, .btn-light{
    color:rgba(255, 255, 255, 0.7);
}
.btn-primary:hover{
    color:rgba(255, 255, 255, 1);
    background:rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    transition: all ease 0.35s;
}
.btn-light:hover{
    color:rgba(255, 255, 255, 1);
}
.float-left{float: left;}
.div-center{
    margin-left:auto;
    margin-right:auto;
}
.align-left{
    text-align:left;
}
.panel-outer, .center{text-align: center;}

.center{text-align: center;}

.button-panel{
   margin-bottom: 10px;
}
.hidden{display:none;}
.time-link{
    text-decoration: underline;
    cursor:pointer;
}
.bookmark-table { margin: 0 10px; }

.forced-skinny{width:15px;}
.top-right{
    position:absolute;
    top:10px;
    right:10px;
}
.note{
    font-size:12px;
}

.separator{margin-right: 30px;}
.separator-small{margin-right: 20px;}
.separator-xsmall{margin-right: 10px;}

  /*End Tooltip code.*/
  .grey-panel{
      /* background-color: rgba(0,0,0,0.85) */
      background-image: linear-gradient(to bottom, #000000, #222222, #3e3e3e, #5d5d5d, #7e7e7e);
  }
  .white{color:white;}
  .inline-block{display:inline-block;}
