.popup-body{
    min-width:350px;
    border-color: #c1c2c0;
    background-color: #f0f0f0
}
.popup-html{
    font-family: Roboto, Arial, sans-serif;
}
#control-html{
    width: 100%;
    max-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr .75fr;
    grid-template-areas:"before-after-section rewind-ff-section"
                        "go-to-section  bookmark-section";
}

#before-after-section{
    grid-area: before-after-section;
}
#rewind-ff-section{
    grid-area: rewind-ff-section;
}
#go-to-section{
    grid-area: go-to-section;
}
#bookmark-section{
    grid-area: bookmark-section;
}
#header{
    padding-top:10px;
}

.btn:focus,
.btn:active:focus{
    outline:none;
}

.btn{
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
    font-size: 11px;
    padding: 0 1em;
    vertical-align: middle;
    color: black;
    background: white;
    box-sizing: border-box;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    cursor: pointer;
}

.btn-small{
    padding: 0 .25em;
    line-height:10px;
    font-size:10px;
}
.btn-medium{
    padding: 0 .7em;
    line-height:18px;
    font-size:13px;
}
.btn-circle{
    border-radius: 50%;
}
.btn-red, .btn-red-inverse:hover{
    color:white;
    background: red;
    border-color:red;
}
.btn-red:hover,.btn-red-inverse{
    color:red;
    background: white;
    border-color:red;
}
.btn-primary{
    color:rgb(88, 88, 88);
    background: transparent;
    border-color:transparent;
}
.btn-primary:hover{
    color:black;
    background: rgb(250, 250, 250);
    border-color:rgb(250, 250, 250);
    font-weight:bold;
    font-size:15px;
}
.float-left{float: left;}
.div-center{
    margin-left:auto;
    margin-right:auto;
}
.panel-outer, .center{text-align: center;}
#startOrStop{
    margin-right: 10px;
}
.center{text-align: center;}
.btn-disabled, .btn-disabled:hover{
    cursor: default;
    background: transparent;
    border-color:transparent;
    color:rgb(190, 190, 190);
    font-weight:normal;
    font-size:13px;
}

fieldset{
    border-radius: 5px;
    border-color: #c1c2c0;
    border: 1px solid;
}
.panel-title{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}
.button-panel{
   margin-bottom: 10px;
}
.hidden{display:none;}
.time-link{
    text-decoration: underline;
    cursor:pointer;
}
.bookmark-table { margin: 0 auto; }

.forced-skinny{width:15px;}
.top-right{
    position:absolute;
    top:10px;
    right:10px;
}

@media (max-width: 656px) { 
    #control-html{
        width: 100%;
        max-height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .2fr .2fr .5fr;
        grid-template-areas:"before-after-section" "rewind-ff-section"
                            "go-to-section"  "bookmark-section";
    }
    #header{
        padding-top:0;
    }
 }


@media (min-width: 657px) { 
    #control-html{
        width: 100%;
        max-height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .25fr .75fr;
        grid-template-areas:"before-after-section rewind-ff-section"
                            "go-to-section  bookmark-section";
    }
 }
