body{
    min-width:350px;
    border-color: #c1c2c0;
    background-color: #f0f0f0
}
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btn{
    border-radius: 6px;
    border: 2px solid;
    display: inline-block;
    font-size: 11px;
    padding: 0 1em;
    vertical-align: middle;
    color: black;
    background: white;
    box-sizing: border-box;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    cursor: pointer;
}

.btn-small{
    padding: 0 .25em;
    line-height:10px;
    font-size:10px;
}
.btn-medium{
    padding: 0 .7em;
    line-height:18px;
    font-size:10px;
}
.btn-circle{
    border-radius: 50%;
}
.btn-red, .btn-red-inverse:hover{
    color:white;
    background: red;
    border-color:red;
}
.btn-red:hover,.btn-red-inverse{
    color:red;
    background: white;
    border-color:red;
}
.btn-primary{
    color:white;
    background: rgb(94, 94, 94);
    border-color:rgb(94, 94, 94);
}
.btn-primary:hover{
    color:rgb(94, 94, 94);
    background: white;
    border-color:rgb(94, 94, 94);
}
.float-left{float: left;}
.div-center{
    margin-left:auto;
    margin-right:auto;
}
.panel-outer, .center{text-align: center;}
#startOrStop{
    margin-right: 10px;
}
.center{text-align: center;}
.btn-disabled{opacity:0.5;}
.btn-disabled:hover{opacity:0.5;}
fieldset{
    border-radius: 5px;
    border-color: #c1c2c0;
    border: 1px solid;
}
.panel-title{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.button-panel{
   margin-bottom: 10px;
}
.hidden{display:none;}
.time-link{
    text-decoration: underline;
    cursor:pointer;
}
table { margin: 0 auto; }

.forced-skinny{width:15px;}
.top-right{
    position:absolute;
    top:10px;
    right:10px;
}

